body {
  font-size: 18px;
  font-family: 'Yu Gothic','Medium';
  color: #505050;
  box-sizing: border-box;
  margin: 0 auto;
}

img {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

section {
  padding: 50px 0;
}

.section-title {
  font-size: 40px;
  font-family: 'lato','Regular';
  color: #a26c54;
  margin: 50px 0;
  text-align: center;
}

/* ヘッダー */
.header {
  line-height: 75px;
  display: flex;
  justify-content: space-between;
  margin: 0 3%;
}

.site-title {
  font-size: 40px;
  font-family: 'lato','Regular';
  color: #505050;
}

.header-nav {
  display: flex;
}

.header-nav li {
  font-family: 'lato','Regular';
  padding-left: 38px;
}

.header-nav li a {
  color: #505050;
  position: relative;
  display: inline-block;
}

.header-nav li a:hover {
  color: rgba(80,80,80,0.6);
}

.header-nav li a::after {
  position: absolute;
  bottom: 20px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #505050;
  transform: scale(0,1);
  transform-origin: left top;
  transition: transform .3s;
}

.header-nav li a:hover::after {
  transform: scale(1,1);
}

.burger-btn {
  display: none;
}

/* ファーストビュー */
.fv {
  background-image: url(keyboard.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
  text-align: center;
}

.main-copy {
  font-family: 'lato','Regular';
  font-size: 60px;
  color: #fff;
  padding-top: 137px;
}

.main-text {
  color: #fff;
  width: 342px;
  padding-top: 66px;
  margin: 0 auto;
}

.btn {
  width: 170px;
  height: 52px;
  border-radius: 10px;
  margin-top: 66px;
  background-color: #A26C54;
  border: none;
}

.btn a {
  color: #fff;
  font-size: 22px;
  display: block;
}

/* アバウト・ワークス・サービス・スキル共通 */
.width-section {
  padding: 0 4%;
  max-width: 77%;
  margin: 0 auto;
}

.title-text {
  width: 342px;
  margin: 0 auto 50px;
  text-align: center;
}

.sub-title{
  font-size: 30px;
  color: #A26C54;
  margin-bottom: 25px;
  line-height: 1;
}

.text {
  margin-bottom: 50px;
}

/* アバウト */
.about-container {
  display: flex;
  justify-content: space-between;
}

.about-img {
  max-width: 570px;
  width: 48%;
  height: 450px;
  background-color: #CCCCCC;
}

.about-text-container {
  max-width: 570px;
  width: 48%;
}

/* ワークス */
.works-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works-container .content-inner {
  max-width: 370px;
  width: 30%;
  border: 1px solid #CCCCCC;
  margin-bottom: 20px;
}

.works-img {
  max-width: 370px;
  width: 100%;
  height: 280px;
  background-color: #CCCCCC;
}

.text-inner {
  height: 90px;
  display: table;
}

.text-inner .text {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
}

/* サービス */
.service-wrapper {
  margin-bottom: 95px;
}

.service-container {
  display: flex;
  justify-content: space-between;
}

.service-container .content-inner {
  max-width: 370px;
  width: 30%;
  border: 1px solid #CCCCCC;
  margin-bottom: 20px;
}

.service-container .sub-title {
  text-align: center;
  padding-top: 30px;
}

.service-container .text {
  padding: 0 10px;
}

/* スキル */
.skills-wrapper {
  background-image: url(macbook.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 450px;
  margin-top: 100px;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'lato','Regular';
  margin: 0 auto;
}

.skills-title {
  font-size: 60px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.skills-inner {
  max-width: 370px;
  width: 30%;
}

.skills-inner .title {
  font-size: 30px;
  margin-bottom: 24px;
}

/* お問い合わせ */
.contact-wrapper {
  max-width: 570px;
  width: 100%;
  margin: 0 auto;
}

.contact-wrapper .text {
  margin: 0 auto;
  max-width: 342px;
}

form {
  margin: 60px auto;
}

input,textarea {
  border: 1px solid rgba(112,112,112,0.4);
  padding: 5px;
  border-radius: 5px;
}

.form-part {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

label {
  margin-bottom: 5px;
}

textarea {
  line-height: 2;
  font-size: 18px;
  resize: none;
  height: 171px;
}

.form-send {
  text-align: center;
  margin-top: 50px;
}

.form-btn {
  display: inline-block;
  width: 170px;
  height: 52px;
  border-radius: 10px;
  font-size: 22px;
  color: #FFFFFF;
  text-align: center;
  background-color: #A26C54;
  cursor: pointer;
}

/* フッター */
footer {
  max-width: initial;
  max-width: auto;
  background-color: #C6A394;
  color: #FFFFFF;
  height: 147px;
  text-align: center;
  font-family: 'lato','Regular';
}

.footer-container ul{
  display: flex;
  justify-content: center;
  padding-top: 38px;
}

.footer-container ul a {
  color: #ffffff;
  margin: 0 20px;
}

footer p {
  padding-top: 20px;
}

/* --------------------- */
/* タブレット */
/* --------------------- */
@media (max-width:992px) {

  .width-section {
    padding: 0 10%;
  }

  .site-title {
    font-size: 30px;
  }

  /* アバウト */
  .about-wrapper .text {
    font-size: 0.95rem;
  }

  /* ワークス */
  .works-container {
    justify-content: center;
  }
  
  .works-wrapper .content-inner {
    max-width: 312px;
    width: 45%;
    margin: 0 10px 20px 10px;
  }
  
  .works-img {
    max-width: 312px;
    height: 183px;
  }
  
  /* サービス */
  .service-container {
    flex-direction: column;
    align-items: center;
  }

  .service-wrapper .content-inner {
    max-width: 790px;
    width: 100%;
  }

  .service-container .text {
    font-size: 0.95rem;
    margin-bottom: 30px;
  }

  /* スキル */
  .skills-wrapper {
    height: 650px;
  }

  .skills-inner {
    width: 46%;
    padding: 0 2%;
  }
    
}

/* --------------------- */
/* スマホ */
/* --------------------- */
@media (max-width:768px) {

  /* ヘッダー */
  .header {
    line-height: 55px;
  }

  .site-title {
    font-size: 25px;
  }

  .header-nav {
    display: none;
  }

  .header-nav li a:hover {
    color: rgba(129, 128, 128, 0.877);
  }
  
  .header-nav li a::after {
    content: none;
  }
  
  .header-nav li a:hover::after {
    content: none;
  }
  

  /* ハンバーガーボタン */
  .burger-btn {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 3;
    border: none;
    margin-top: 7px;
  }

  .bar {
    width: 30px;
    height: 2px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #505050;
  }

  .bar_top {
    top: 10px;
  }

  .bar_mid {
    top: 50%;
    transform: translate(-50%,-50%);
  }

  .bar_bottom {
    bottom: 10px;
  }

  /* バーガーボタンばつ印 */
  .burger-btn.close .bar_top {
    transform: translate(-50%,10px) rotate(45deg);
    transition: transform .3s;
  }

  .burger-btn.close .bar_mid {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .burger-btn.close .bar_bottom {
    transform: translate(-50%,-8px) rotate(-45deg);
    transition: transform .3s;
  }

  /* バーガーメニューを全画面表示にする */
  .b-nav-wrapper {
    display: none;
    width: 100vw;
    height: 80vh;
    position: fixed;
    top: 55px;
    left: 0;
    z-index: 2;
  }

  .nav-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
  }

  .nav-wrapper .header-nav {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }

  .nav-wrapper li {
    margin-right: 0;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
  }

  /* ファーストビュー */
  .fv {
    height: 400px;
  }

  .main-copy {
    font-size: 40px;
    padding-top: 95px;
  }

  .main-text {
    width: 342px;
    padding-top: 40px;
    font-size: 0.95rem;
  }

  /* アバウト */
  .about-container {
    flex-direction: column;
  }

  .about-img {
    max-width: 510px;
    width: 100%;
    margin-bottom: 20px;
    margin: 0 auto;
  }

  .about-text-container {
    max-width: 510px;
    width: 100%;
    margin: 0 auto;
  }

  .about-text-container .sub-title:first-child {
    margin-top: 20px;
  }

  /* ワークス */
  .works-container {
    flex-direction: column;
  }
  
  .works-wrapper .content-inner {
    max-width: 510px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .works-img {
    max-width: 510px;
    height: 183px;
  }

  /* スキル */
  .skills-wrapper {
    height: 950px;
  }

  .skills-container {
    margin-top: 20px;
    flex-direction: column;
  }

  .skills-inner {
    max-width: 510px;
    width: 100%;
    padding: 0 2%;
  }

  .skills-inner .title {
    font-size: 30px;
    margin-bottom: 10px;
  }  
  
  .skills-wrapper .text {
    font-size: 0.95rem;
  }

  /* お問い合わせ */
  .contact-wrapper {
    max-width: 500px;
  }

  .contact-wrapper .text {
    font-size: 0.95rem;
  }

  /* フッター */
  footer {
    font-size: 0.95rem;
  }

}
